<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1 align="center">Home Page</h1>
<div align="center" class="container">
    <ul>
        <li>
            <a href="/admin">Admin</a>
        </li>
        <br>
        <li>
            <a href="/myapp">My App</a>
        </li>
        <br>
        <li>
            <a href="/blogs">Blogs</a>
        </li>
        <br>
        <li>
            <a href="/music">Music</a>
        </li>
        <br>
        <li>
            <a href="/todolist">To Do List</a>
        </li>
        <br>
        <li>
            <a href="/quotes">Quotes</a>
        </li>
        <br>
        <li>
            <a href="/tts">Text To Speech</a>
        </li>
        <br>
        <li>
            <a href="/translate">Translate</a>
        </li>
        <br>
        <li>
            <a href="/visualization">Visualization</a>
        </li>
        <br>
        <li>
            <a href="/s2t">Speech Recogniton</a>
        </li>
        <br>
        <li>
            <a href="/quiz">Quiz</a>
        </li>
        <br>
        <li>
            <a href="/tweet">Tweet</a>
        </li>
        <br>
    </ul>
</div>
</body>
</html>